<section class="flex flex-col gap-10">
    <h2 class="text-lg">À propos</h2>

    <div class="message-left w-4/5">
        Notre équipe est basée à Bordeaux, cocorico !
    </div>

    <div class="ml-auto w-4/5">
        <div class="message-right">
            En partenariat avec TBM, nous avons créé Bovélo afin de réinventer nos habitudes de déplacement, de vie même !
        </div>
        <p class="-mt-8 ml-4 mr-12">
            Attention à ne pas en perdre les pédales !
        </p>
    </div>

    <div class="message-left w-4/5">
        N’hésitez pas à nous dire ce que vous en pensez !
    </div>

    <p class="ml-auto">L’équipe Bovélo</p>
</section>