<section class="mt-24 col-span-full md:col-start-6 md:col-end-12 flex flex-col gap-6">
    <div class="flex flex-row gap-4 items-center">
        <h1 class="text-lg md:text-2xl">Découvrez Bovélo</h1>
        <div class="button-icon button-shadowed button-cta">{{ partial "icons/Position" . }}</div>
    </div>

    <div class="bg-secondary-2 p-4 gap-4 border-2 rounded-lg flex flex-row items-center" x-data="{showBikes: true}">
        <p class="flex-grow">
            <span x-show="showBikes">Vous souhaitez récupérer un Bovélo ?</span>
            <span x-show="!showBikes">Vous souhaitez trouver où garer votre Bovélo ?</span>
        </p>
        <button class="h-full bg-background-3 w-min button button-shadowed p-0" @click="showBikes=!showBikes">
            <div class="button-icon -m-px" :class="showBikes?'button-cta':'!border-transparent'">
                {{ partial "icons/Bike/Normal" . }}
            </div>
            <div class="button-icon -m-px" :class="!showBikes?'button-cta':'!border-transparent'">
                {{ partial "icons/Parking" . }}
            </div>
        </button>
    </div>


    <div class="bg-secondary-2 p-4 gap-4 border-2 rounded-lg flex flex-row items-center" x-data="{showEgg: false}">
        <div class="flex flex-col gap-2">
            <button class="button button-cta button-shadowed">Réserver 30 min</button>
            <button class="button button-tertiary button-shadowed group" @click="showEgg=!showEgg">
                <span x-show="!showEgg">Partir avec</span>
                <span x-show="showEgg">Pas si vite!</span>
            </button>
        </div>
        <div>
            <h2 class="text-lg">Réservez un vélo à l'avance</h2>
            <p>ou prenez le en borne directement !</p>
        </div>
    </div>

    <div class="bg-secondary-2 p-4 gap-4 border-2 rounded-lg flex flex-row items-center">
        <h2 class="text-lg">Débloquez votre vélo avec un QR code</h2>
        <button class="button-icon button-tertiary button-shadowed">{{ partial "icons/CodeQR" . }}</button>
    </div>
</section>