<section class="mt-24 col-span-full flex flex-col gap-6">
    <h2 class="text-lg">Téléchargez l’application pour changer votre vie</h2>
    <div class="flex flex-row w-full gap-4">
        <button class="w-full button button-tertiary button-shadowed flex flex-row items-center justify-between gap-2">
            App store
            {{ partial "icons/Other/AppStore" . }}
        </button>
        <button class="w-full button button-tertiary button-shadowed flex flex-row items-center justify-between gap-2">
            Play store
            {{ partial "icons/Other/PlayStore" . }}
        </button>
    </div>
</section>