<section class="mt-24 flex flex-col gap-12">
    <div class="relative w-9/12 mx-auto">
        <image class="h-full w-full" src="https://via.placeholder.com/350x350"></image>
        <image class="absolute right-0 bottom-0 h-1/3 w-1/3 translate-x-1/3 translate-y-1/3" src="/images/logo.png"></image>
    </div>
    <div class="relative w-full">

      <div class="marquis">
        <p class="flex justify-between text-md"><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span></p>
      </div>
    </div>
    <p class="bg-secondary-2 border-2 rounded-lg p-4">
        Bovélo a été créé dans un seul but : Donner envie d’explorer Bordeaux à vélo !
    </p>
</section>
