<section class="col-span-full mt-24 grid grid-cols-12 gap-4 md:gap-12">
    <div class="col-span-full md:col-start-6 md:col-end-11 flex flex-row items-start  gap-2  relative h-[80vh] mx-auto">
        <image class="block w-1/2 h-auto" src="/images/mockups/stations-favorites.png"></image>
        <image class="block w-1/3 h-auto" src="/images/mockups/information-station.png"></image>
    </div>

    <div class="col-span-full md:col-start-2 md:col-end-6 md:order-first flex flex-col gap-2">
        <h1 class="font-display text-3xl">Bovélo, le vélo à Bordeaux</h1>
        <p class="bg-secondary-2 border-2 rounded-lg p-4">
            Bovélo a été créé dans un seul but : Donner envie d’explorer Bordeaux à vélo !
        </p>

        <p class="bg-secondary-2 border-2 rounded-lg p-4">
            Finies les pertes de temps devant la borne, finie la recherche de LA bonne station, tout est possible en quelques clics.
        </p>
    </div>

</section>
<div class="relative w-screen pointer-events-none whitespace-nowrap">

  <div class="marquis">
    <p class="flex justify-between text-md"><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span></p>
  </div>
</div>
