<div class=" relative w-screen pointer-events-none whitespace-nowrap">

    <div class="marquis pointer-events-auto">
        <a href="/#download" class="flex justify-between gap-6 text-md"><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span></a>
    </div>
</div>