

<footer class="bottom-0 mt-12 w-full p-4 py-6 border-t border-border-1 bg-secondary-2">
  <div class="container mx-auto">

    <section class="flex flex-col gap-5 md:gridFooter">


      <section class="text-left flex flex-col gap-5">
        <h2 class="font-sans text-lg md:text-2xl">Bovélo</h2>
        <nav class="flex gap-5">
          <div class="bg-cta-1 w-12 rounded-full grid place-items-center aspect-square border-2 border-solid border-border-1 button-shadowed active:buttonPressed"><img class="w-3/5 object-contain" src="/images/icons/socials/instagram.svg" alt=""></div>
          <div class="bg-cta-1 w-12 rounded-full grid place-items-center aspect-square border-2 border-solid border-border-1 button-shadowed active:buttonPressed"><img class="w-3/5 object-contain" src="/images/icons/socials/facebook.svg" alt=""></div>
        </nav>
        <a href="https://www.infotbm.com/fr/conditions-generales-de-vente-et-mentions-legales.html" class="underline hidden md:block">Mentions légales</a>
        <a href="https://www.infotbm.com/fr/politique-de-confidentialite.html" class="underline hidden md:block">Politique de confidentialité</a>
      </section>

      <section class="text-left flex flex-col gap-5">
        <h2 class="font-sans text-lg md:text-2xl">Disponible partout</h2>

        {{ partial "download-buttons" . }}

        <a href="https://www.infotbm.com/fr/conditions-generales-de-vente-et-mentions-legales.html" class="underline md:hidden">Mentions légales</a>
        <a href="https://www.infotbm.com/fr/politique-de-confidentialite.html" class="underline md:hidden">Politique de confidentialité</a>
      </section>


    </section>
  </div>


</footer>
