<header class="w-full p-0 fixed bg-secondary-2 border-b-2 border-b-border-2">

  <div class="container grid justify-center sm:grid-cols-header mx-auto py-1 items-center">
    <nav class="items-center gap-10 hidden sm:flex">
      <h2 class="text-lg cursor-pointer">Partners</h2>
      <h2 class="text-lg cursor-pointer">About Us</h2>
    </nav>
    <h1 class="font-display text-xl h-fit md:text-3xl">Bovélo</h1>
    <section class="hidden sm:flex justify-end items-center gap-5">


      <div class="imgContainer w-10 hidden md:block">
        <img src="/images/icon-temp.png" alt="" class="object-contain w-full">
      </div>
      <div class="imgContainer w-10 hidden md:block">
        <img src="/images/icon-temp.png" alt="" class="object-contain w-full">
      </div>

      <a class="button-download shadow-buttons shadow-border-1 hover:buttonPressed cursor-pointer">Download the App</a>

    </section>

  </div>



</header>
