<header class="w-full p-0 sticky top-0 bg-secondary-2 border-b-2 border-b-border-2 z-20">
  <div class="container mx-auto px-4">

    <div class="grid justify-center sm:grid-cols-header  py-1 items-center">
      <div class=""></div>
      <h1 class="font-display text-xl h-fit md:text-3xl">Bovélo</h1>
      <section class="hidden sm:flex justify-end items-center gap-5 col-start-3">

        <a href="/#download" class="button-download button-shadowed active:buttonPressed cursor-pointer">
          Télécharger l'app
        </a>

      </section>

    </div>
  </div>



</header>
