{{ define "main" }}
<article class="flex flex-col gap-24">
    <section class="mt-32">
        <image class="w-9/12 mx-auto" src="https://via.placeholder.com/350x350"></image>
        <p class="mt-12 bg-secondary-2 border-2 rounded-lg p-4">
            Bovélo a été créée dans un seul but : Donner envie d’explorer Bordeaux à vélo !
        </p>
    </section>

    <div class="py-3 bg-cta-1 w-fit border-y-border-1">
      <p class="flex gap-5"><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span><span>Télécharger Bovélo</span></p>
    </div>

    <section>
        <div class="flex flex-row gap-4 items-center">
            <h1 class="text-xl">Découvrez Bovélo</h1>
            <div class="button-icon button-shadowed button-cta">{{ partial "icons/Position" . }}</div>
        </div>

        <div class="mt-6 bg-secondary-2 p-4 gap-4 border-2 rounded-lg flex flex-row items-center" x-data="{showBikes: true}">
            <p class="flex-grow">
                <span x-show="showBikes">Vous souhaitez récupérer un Bovélo ?</span>
                <span x-show="!showBikes">Vous souhaitez trouver où garer votre Bovélo ?</span>
            </p>
            <button class="h-full bg-background-3 w-min button button-shadowed p-0" @click="showBikes=!showBikes">
                <div class="button-icon -m-px" :class="showBikes?'button-cta':'!border-transparent'">
                    {{ partial "icons/Bike/Normal" . }}
                </div>
                <div class="button-icon -m-px" :class="!showBikes?'button-cta':'!border-transparent'">
                    {{ partial "icons/Parking" . }}
                </div>
            </button>
        </div>


        <div class="mt-6 bg-secondary-2 p-4 gap-4 border-2 rounded-lg flex flex-row items-center" x-data="{showBikes: true}">
            <div class="flex flex-col gap-2">
                <button class="button button-cta button-shadowed">Réserver 30 min</button>
                <button class="button button-tertiary button-shadowed">Partir avec</button>
            </div>
            <div>
                <h2 class="text-lg">Réservez un vélo à l'avance</h2>
                <p>ou prenez le en borne directement !</p>
            </div>
        </div>

        <div class="mt-6 bg-secondary-2 p-4 gap-4 border-2 rounded-lg flex flex-row items-center" x-data="{showBikes: true}">
            <h2 class="text-lg">Débloquez votre vélo avec un QR code</h2>
            <button class="button-icon button-tertiary button-shadowed">{{ partial "icons/CodeQR" . }}</button>
        </div>


    </section>


    <section>
        <h2 class="text-lg">Téléchargez l’application pour changer votre vie</h2>
        <div class="mt-4 flex flex-row w-full gap-4">
            <button class="w-full button button-tertiary button-shadowed flex flex-row items-center justify-between gap-2">
                App store
                {{ partial "icons/Other/AppStore" . }}
            </button>
            <button class="w-full button button-tertiary button-shadowed flex flex-row items-center justify-between gap-2">
                Play store
                {{ partial "icons/Other/PlayStore" . }}
            </button>
        </div>
    </section>

</article>
{{ end }}
